/* Общие стили: */

nav .brand-logo {
  left: auto;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hide-on-med-and-down {
  display: block !important;
}

nav {
  padding: 0 2.5rem;
}

.changeComp-enter-active {
  transition: opacity .25s, transform .25s;
}

.changeComp-enter {
  opacity: 0;
  transform: scale(.75);
}

.title-cell,
.description-cell {
  max-width: 200px;
}

.title-text,
.description-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}